@page "/Techniques" 
@using MudBlazor


<PageTitle>Techniques</PageTitle>

<div style ="display:flex;margin-left:75px; position:relative; top: 250px; gap:100px">
    <MudButton Variant="Variant.Filled" Style="background-color: #1d2b53; color: white; width: 369px; height: 111px;" OnClick="changeTextAnxiety">
        Anxiety
    </MudButton>
    <MudButton Variant="Variant.Filled" Style="background-color: #1d2b53; color: white; width: 369px; height: 111px;" OnClick="changeTextDepression">
        Depression
    </MudButton>
    <MudButton Variant="Variant.Filled" Style="background-color: #1d2b53; color: white; width: 369px; height: 111px;" OnClick="changeTextStress">
        Stress
    </MudButton>
    <MudButton Variant="Variant.Filled" Style="background-color: #1d2b53; color: white; width: 369px; height: 111px;" OnClick="changeTextSleepDeprivation">
        Sleep Deprivation
    </MudButton>
</div>
<div style="display:flex;margin-left:75px; position:relative; top: 300px;">
    <MudCard Style="background-color:white; color:black; border-radius:6px; width:822px; height:450px; overflow:hidden">
        <MudCardContent Style="white-space:pre-wrap; font-size:24px">
            @((MarkupString)_textValue)
        </MudCardContent>
    </MudCard>
</div>


@code {
    string _textValue = "Resource:\nAnxiety NHS: <a href=\"https://www.nhs.uk/mental-health/conditions/generalised-anxiety-disorder-gad/\" target=\"_blank\">https://www.nhs.uk/mental-health/conditions/generalised-anxiety-disorder-gad/</a>";
    string anxiety = "Resource:\nAnxiety NHS: <a href=\"https://www.nhs.uk/mental-health/conditions/generalised-anxiety-disorder-gad/\" target=\"_blank\">https://www.nhs.uk/mental-health/conditions/generalised-anxiety-disorder-gad/</a>";
    string depression = "Resource:\nDepression NHS: <a href=\"https://www.nhs.uk/mental-health/conditions/depression-in-adults/overview/\" target=\"_blank\">https://www.nhs.uk/mental-health/conditions/depression-in-adults/overview/</a>";
    string stress = "Resource:\nStress NHS: <a href=\"https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/feelings-and-symptoms/stress/\" target=\"_blank\">https://www.nhs.uk/mental-health/feelings-symptoms-behaviours/feelings-and-symptoms/stress/</a>";
    string sleepDeprivation = "Resource:\nSleep Deprivation NHS: <a href=\"https://www.nhs.uk/conditions/insomnia/\" target=\"_blank\">https://www.nhs.uk/conditions/insomnia/</a>";
    void changeTextAnxiety()
    {
        _textValue = anxiety;
    }
    void changeTextDepression()
    {
        _textValue = depression;
    }
    void changeTextStress()
    {
        _textValue = stress;
    }
    void changeTextSleepDeprivation()
    {
        _textValue = sleepDeprivation;
    }
}